@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Avenier";
  src: url("../fonts/AvenirHeavy.ttf");
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: "Avenier";
  src: url("../fonts/AvenirRegular.ttf");
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "Avenier";
  src: url("../fonts/AvenirLight.ttf");
  font-weight: 300;
  font-display: block;
}
body {
  font-family: "Avenier";
  color: #070a0e;
}

.hero {
  background-image: url(../images/header_bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  object-position: 50% 50%;
}
.skillsSection {
  background-image: url(../images/skills_bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  object-position: 50% 50%;
}

.heroOverlay {
  background: rgba(7, 10, 14, 0.5);
}

.sectionGap {
  @apply py-[80px] md:py-[8vw] large:py-[153px];
}
.myContainer {
  @apply w-[90%] md:w-[80%] large:w-[1536px] mx-[auto];
}
.haflContainer {
  @apply w-[100%] md:w-[80%] large:w-[768px];
}

.heading {
  @apply text-[24px] md:text-[2.4vw] large:text-[46px] font-[700] uppercase pb-[0vw] relative inline-block;
}
.centeredHeading {
  @apply mx-auto;
}
.fixedHeader {
  position: fixed;
  padding-top: 0 !important;
  background: #2e4975;
}
nav span.active {
  color: #df3143;
}
.headingWhite {
  @apply text-[#fff];
}
.heading::after {
  @apply content-[""] large:h-[4.8px] absolute bottom-0 md:bottom-[0.25vw] left-0 w-[35%] h-[3px] md:h-[0.25vw] bg-[#df3143];
}
.centeredHeading::after {
  @apply left-[50%] transform translate-x-[-50%];
}
.leading {
  @apply text-[16px] md:text-[1vw]  font-[300] large:text-[19.2px];
}

.contentHeader {
  @apply flex justify-between items-center mb-[32px] md:mb-[4vw] large:mb-[76px];
}
.toggleHeader {
  @apply flex justify-between large:px-[38px] md:px-[2vw] cursor-pointer;
}
.toggleHeading {
  @apply text-[18px] md:text-[1.5vw] large:text-[30px];
}
.toggleHeading span {
  color: #df3143;
}

.toggleContainer {
  @apply border-b border-b-[#797272] pb-[20px] md:pb-[2vw] large:pb-[38px];
}
.toggleContent ul {
  @apply pt-[20px] md:pt-[2vw] md:px-[2vw] large:pt-[38px] large:px-[38px];
}
.toggleContent ul li {
  @apply indent-[20px] md:indent-[2vw] large:indent-[38px] relative;
}
.toggleContent ul li img {
  @apply top-[5px] left-[2px] w-[14px] md:w-[1.2vw] absolute md:top-[0.25vw] md:left-[0.2vw] large:w-[23px] large:top-[4.8px] large:left-[3.84px];
}

.toggleContent ul {
  @apply flex flex-col gap-y-[12px] md:gap-y-[1.2vw] large:gap-y-[23px] leading;
}
.toggleContent {
  max-height: 0;
  transition: 0.8s all;
  overflow: hidden;
}

#plusIcon {
  @apply transition-all duration-300 min-w-[22px] w-[22px] md:min-w-[2vw] md:w-[2vw] large:w-[38px] large:min-w-[38px];
}

#plusIcon.active {
  transform: rotate(90deg);
}
#plusIcon.active #plusLine {
  display: none;
}

@media (max-width: 760px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: #2e4975;
    transition: all 0.5s;
  }
  .sidebar {
    transform: translateX(100%);
  }
  body.active {
    height: 100vh;
    overflow: hidden;
  }
  .sidebar.active {
    transform: translateX(0%);
  }
  .sidebar nav {
    flex-direction: column;
    width: 90%;
    font-size: 18px;
  }
  .sidebar nav span {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 18px;
    border-bottom: 1px solid #fff;
  }
  .sidebar nav span.active {
    border-bottom: 1px solid #df3143;
  }
  .downloadBtn {
    width: 90%;
    margin-top: 20px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
